.idea
build
bin

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out


web/node_modules
web/dist

template/web/bundle.js
template/web/bundle.js.LICENSE.txt
template/web/index.html

stack.yaml
